Node-red/ModBus Bancada/CLPModBus.json
[{"id":"cab40630bf6d37cb","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"0bfcdc45dcbb0208","type":"modbus-read","z":"cab40630bf6d37cb","name":"Leitura","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"129","quantity":"5","rate":"1000","rateUnit":"ms","delayOnStart":false,"enableDeformedMessages":false,"startDelayTime":"","server":"b8a97d5e8b4c76a3","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":450,"y":280,"wires":[["6a7bcbcecf88f4e9"],[]]},{"id":"6a7bcbcecf88f4e9","type":"debug","z":"cab40630bf6d37cb","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":280,"wires":[]},{"id":"e1bbf57a7d09cb89","type":"inject","z":"cab40630bf6d37cb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":450,"y":400,"wires":[["964c5cf4bcb78f13"]]},{"id":"964c5cf4bcb78f13","type":"modbus-write","z":"cab40630bf6d37cb","name":"Rotina ao CLP","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"128","quantity":"1","server":"b8a97d5e8b4c76a3","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":660,"y":400,"wires":[[],[]]},{"id":"c002e76ad8d906e7","type":"inject","z":"cab40630bf6d37cb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":450,"y":520,"wires":[["bec4cb37ba1d5e73"]]},{"id":"bec4cb37ba1d5e73","type":"modbus-write","z":"cab40630bf6d37cb","name":"Rotina ao CLP","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"128","quantity":"1","server":"b8a97d5e8b4c76a3","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":660,"y":520,"wires":[[],[]]},{"id":"ec27309926948aac","type":"inject","z":"cab40630bf6d37cb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":450,"y":460,"wires":[["1637f98166210a54"]]},{"id":"1637f98166210a54","type":"modbus-write","z":"cab40630bf6d37cb","name":"Rotina ao CLP","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"128","quantity":"1","server":"b8a97d5e8b4c76a3","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":660,"y":460,"wires":[[],[]]},{"id":"b8a97d5e8b4c76a3","type":"modbus-client","name":"WilSchulzServer","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":false,"tcpHost":"10.74.241.33","tcpPort":"502","tcpType":"DEFAULT","serialPort":"","serialConnectionDelay":"","serialAsciiResponseStartDelimiter":"","unit_id":"1","commandDelay":"","clientTimeout":"","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true}]