Node-red/flows.json
[{"id":"2e30623f3488b225","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"35d9ba2c245faf0c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"07666aac7f23f396","type":"ui_tab","name":"ESP32 Sensors","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"87488c89fd6f8fe3","type":"ui_group","name":"Gauges","tab":"07666aac7f23f396","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"90c86a387a21abf7","type":"ui_spacer","z":"2e30623f3488b225","name":"spacer","group":"87488c89fd6f8fe3","order":1,"width":"1","height":"1"},{"id":"8251f60cb11b52f6","type":"ui_spacer","z":"2e30623f3488b225","name":"spacer","group":"87488c89fd6f8fe3","order":2,"width":1,"height":1},{"id":"75e9de0fbafbc536","type":"ui_group","name":"Grafics","tab":"2bd2e4bcd88576fd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2bd2e4bcd88576fd","type":"ui_tab","name":"Graficos","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6e3f1d813f770ef9","type":"tcp in","z":"2e30623f3488b225","name":"ESP_WILSCHULZ","server":"client","host":"10.74.241.171","port":"555","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","trim":false,"base64":false,"tls":"","x":110,"y":260,"wires":[["061f8e8764f7b8e6"]]},{"id":"748ece2ac298d7ce","type":"debug","z":"2e30623f3488b225","name":"debug MSG JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"061f8e8764f7b8e6","type":"function","z":"2e30623f3488b225","name":"Criar JSON Temp e Umid","func":"// Mantém os valores anteriores \ncontext.data = context.data || { TEMP: null, UMID: null };\n\nlet linha = msg.payload;\n\nif (linha.startsWith('TEMP=')) {\n    context.data.TEMP = parseFloat(linha.split('=')[1]);\n\n} else if (linha.startsWith('UMID=')) {\n    context.data.UMID = parseFloat(linha.split('=')[1]);\n}\n\nif (context.data.TEMP !== null && context.data.UMID !== null) {\n    let msgOut = { \n        payload: { \n            TEMP: context.data.TEMP, \n            UMID: context.data.UMID \n        } \n    };\n    return msgOut;\n}\n\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[["748ece2ac298d7ce","aa4b96d25a6f60db","74616f8031ec6294"]]},{"id":"1d1d36387c64a466","type":"ui_gauge","z":"2e30623f3488b225","name":"Temperatura","group":"87488c89fd6f8fe3","order":3,"width":"4","height":"4","gtype":"gage","title":"Temperatura (ºC)","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"40","diff":false,"className":"","x":930,"y":140,"wires":[]},{"id":"2af7cd9e6e2124b9","type":"ui_gauge","z":"2e30623f3488b225","name":"Umidade","group":"87488c89fd6f8fe3","order":4,"width":"4","height":"4","gtype":"gage","title":"Umidade (%)","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","diff":false,"className":"","x":920,"y":220,"wires":[]},{"id":"96e945416af41827","type":"ui_chart","z":"2e30623f3488b225","name":"Grafico Temp","group":"75e9de0fbafbc536","order":1,"width":"6","height":"5","label":"Temperatura (ºC)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":930,"y":300,"wires":[[]]},{"id":"7eb58bbaf51a6a27","type":"ui_chart","z":"2e30623f3488b225","name":"Grafico Umid","group":"75e9de0fbafbc536","order":2,"width":"6","height":"5","label":"Umidade (%)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":930,"y":380,"wires":[[]]},{"id":"aa4b96d25a6f60db","type":"change","z":"2e30623f3488b225","name":"TEMP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TEMP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":220,"wires":[["1d1d36387c64a466","96e945416af41827"]]},{"id":"74616f8031ec6294","type":"change","z":"2e30623f3488b225","name":"UMID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.UMID","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["2af7cd9e6e2124b9","7eb58bbaf51a6a27"]]}]