Node-red/leitorNodeDB.json
[{"id":"baf9cf170588fb4f","type":"tab","label":"Fluxo 2","disabled":false,"info":"","env":[]},{"id":"77cbd1d04b1dbd97","type":"inject","z":"baf9cf170588fb4f","name":"Ler sensores","props":[],"repeat":"10","once":true,"onceDelay":0.1,"topic":"","x":280,"y":180,"wires":[["10119766b5e7a94f"]]},{"id":"10119766b5e7a94f","type":"http request","z":"baf9cf170588fb4f","name":"GET /alldata","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.74.241.83/alldata","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":480,"y":180,"wires":[["b94c8496c180ae47","9ccfa3f1e883d599"]]},{"id":"b94c8496c180ae47","type":"function","z":"baf9cf170588fb4f","name":"Montar SQL","func":"// msg.payload contém {temperatura, umidade, distancia_cm, led}\nlet temperatura = msg.payload.temperatura;\nlet umidade = msg.payload.umidade;\nlet distancia = msg.payload.distancia_cm;\nlet led = msg.payload.led; // pega o valor real do ESP32\n\nmsg.topic = `INSERT INTO sensores (temperatura, umidade, distancia, led, datahora) VALUES (${temperatura}, ${umidade}, ${distancia}, ${led}, NOW())`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":180,"wires":[["d29173d40eed0b0c"]]},{"id":"d29173d40eed0b0c","type":"mysql","z":"baf9cf170588fb4f","mydb":"e931117eec735934","name":"MySQL ESP32","x":880,"y":180,"wires":[["508238ac142360b7"]]},{"id":"9ccfa3f1e883d599","type":"debug","z":"baf9cf170588fb4f","name":"Debug Sensores","active":true,"tosidebar":true,"complete":"payload","x":680,"y":140,"wires":[]},{"id":"508238ac142360b7","type":"debug","z":"baf9cf170588fb4f","name":"Debug SQL","active":true,"tosidebar":true,"complete":"payload","x":1080,"y":180,"wires":[]},{"id":"5fdbdc6c8a0413fd","type":"inject","z":"baf9cf170588fb4f","name":"Ligar LED","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":280,"y":280,"wires":[["5e70e81b82b5e9bd"]]},{"id":"5e70e81b82b5e9bd","type":"http request","z":"baf9cf170588fb4f","name":"POST /led/on","method":"POST","ret":"txt","url":"http://10.74.241.83/led/on","x":480,"y":280,"wires":[["4ff1aa4f47a27418"]]},{"id":"4ff1aa4f47a27418","type":"debug","z":"baf9cf170588fb4f","name":"LED ON","active":true,"tosidebar":true,"complete":"payload","x":680,"y":280,"wires":[]},{"id":"a06ebf243a884a10","type":"inject","z":"baf9cf170588fb4f","name":"Desligar LED","props":[],"repeat":"","once":false,"topic":"","x":280,"y":380,"wires":[["a452b7ae7fa1a404"]]},{"id":"a452b7ae7fa1a404","type":"http request","z":"baf9cf170588fb4f","name":"POST /led/off","method":"POST","ret":"txt","url":"http://10.74.241.83/led/off","x":480,"y":380,"wires":[["31913843a1417536"]]},{"id":"31913843a1417536","type":"debug","z":"baf9cf170588fb4f","name":"LED OFF","active":true,"tosidebar":true,"complete":"payload","x":680,"y":380,"wires":[]},{"id":"e931117eec735934","type":"MySQLdatabase","name":"NodeRedMySql","host":"127.0.0.1","port":"3306","db":"dbnodeesp32","tz":"","charset":"UTF8"}]