Node-red/testeLed.json
[{"id":"40838a5d8afc4d7f","type":"debug","z":"2e30623f3488b225","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":160,"wires":[]},{"id":"5745b97e1092765d","type":"http request","z":"2e30623f3488b225","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.74.241.157/ledOn","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":120,"wires":[["40838a5d8afc4d7f"]]},{"id":"5c5b490faa52d76e","type":"http request","z":"2e30623f3488b225","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.74.241.157/ledOff","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":200,"wires":[["40838a5d8afc4d7f"]]},{"id":"9af77998740b6efa","type":"inject","z":"2e30623f3488b225","name":"Ligar LED","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":120,"wires":[["5745b97e1092765d"]]},{"id":"eac3b8cce55d4bc0","type":"inject","z":"2e30623f3488b225","name":"Desligar LED","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":200,"wires":[["5c5b490faa52d76e"]]}]